In [68]:
a = 1
print(a, type(a))
b = a

a = "emil"
print(a, type(a))
a = True
print(a, type(a))
a = 1.45
print(a, type(a))

1 <class 'int'>
emil <class 'str'>
True <class 'bool'>
1.45 <class 'float'>

In [69]:
a = [1, 2, 4]
print(a, type(a))
b = a
print(b)
a[0] = 8
print(a)
print(b)

[1, 2, 4] <class 'list'>
[1, 2, 4]
[8, 2, 4]
[8, 2, 4]

In [70]:

a = "emil"
b = a
print(a, b)
a = 10
print(a, b)

emil emil
10 emil

In [71]:
a = [1, 4, 9]
b = a.copy()
print(a, b)
a[1] = "emil"
print(a, b)

[1, 4, 9] [1, 4, 9]
[1, 'emil', 9] [1, 4, 9]

In [72]:
a = [1000, 500, 300]

In [73]:
a = input("vedite sifru:")
print(a, type(a))
b = int(a)
print(b, type(b))
print(a * 5)
print(b * 5)

 <class 'str'>

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a = 1
print(a, type(a))
b = float(a)
print(b, type(b))

1 <class 'int'>
1.0 <class 'float'>

In [ ]:
a = "13a"
b = int(a)
print(b * 10)

ValueError: invalid literal for int() with base 10: '13a'

In [ ]:
a = 10
b = 20
if a > b:
    c = a * b 
else:
    c = a + 1

print(c)

11

In [ ]:
sredniy = 500
aydar = 1000
emil = 300
timur = 1500
ulan = 600
print(f'altinay={sredniy}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')

otpravitel = input('Kto otpravitel: ')
poluchatel = input("Kto poluchatel: ")
summa = int(input("summa: "))

if otpravitel == 'altinay':
    if sredniy < summa:
        print(f'u altinay ({sredniy}) netu dostatochno summi ', summa)
        transaksia = False
    else:
        sredniy = sredniy - summa
        transaksia = True
elif otpravitel == "aydar":
    if aydar < summa:
        transaksia = False
        print(f'u aydar ({aydar}) netu dostatochno summi ', summa)
    else:
        aydar -= summa
        transaksia = True
elif otpravitel == "emil":
    if emil < summa:
        transaksia = False
        print(f'u emil ({emil}) netu dostatochno summi ', summa)
    else:
        emil -= summa
        transaksia = True
elif otpravitel == "timur":
    if timur < summa:
        transaksia = False
        print(f'u timur ({timur}) netu dostatochno summi ', summa)
    else:
        timur -= summa
        transaksia = True
elif otpravitel == "ulan":
    if ulan < summa:
        transaksia = False
        print(f'u ulan ({ulan}) netu dostatochno summi ', summa)
    else:
        ulan -= summa
        transaksia = True
else:
    transaksia = False
    print(otpravitel, " netu takogo klienta dlya otpravitelya")

if transaksia == True:
    if poluchatel == 'altinay':
        sredniy = sredniy + summa
    elif poluchatel == "aydar":
        aydar += summa
    elif poluchatel == "emil":
        emil += summa
    elif poluchatel == "timur":
        timur += summa
    elif poluchatel == "ulan":
        ulan += summa
    else:
        print(poluchatel, " netu takogo klienta dlya poluchatelya")

print(f'{otpravitel}->{poluchatel}: {summa}')
print(f'altinay={sredniy}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')
print('transaction status = ', transaksia)

altinay=500, aydar=1000, emil=300, timur=1500, ulan=600
u emil (300) netu dostatochno summi  500
emil->timur: 500
altinay=500, aydar=1000, emil=300, timur=1500, ulan=600
transaction status =  False

In [ ]:
1500 - int("500")

1000

## 15.02.2025

In [ ]:
sredniy = 500
aydar = 1000
emil = 300
timur = 1500
ulan = 600
print(f'altinay={sredniy*10-200}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')

altinay=4800, aydar=1000, emil=300, timur=1500, ulan=600

In [ ]:
e1_1 = 60
e1_2 = 70
e1_3 = 90
f1 = 65
p1 = 85

print(e1_1, e1_2, e1_3, f1, p1)

60 70 90 65 85

In [ ]:
e1_1, e1_2, e1_3, f1, p1 = 60, 70, 90, 65, 85
print(e1_1, e1_2, e1_3, f1, p1)

60 70 90 65 85

In [ ]:
a, b = 10

TypeError: cannot unpack non-iterable int object

In [ ]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [ ]:
e1_1, e1_2, e1_3, f1, p1 = 90, 90, 95, 100, 0
aydar = (e1_1 + e1_2 + e1_3)/3 * 0.45  + f1 * 0.35 + p1 * 0.2

print('aydar=', aydar, "otsentka=", end='')
if 0 <= aydar < 40:
    print(2)
elif 40 <= aydar < 50:
    print("3-")
elif 50 <= aydar < 60:
    print("3")
elif 60 <= aydar < 70:
    print("4-")
elif 70 <= aydar < 80:
    print("4")
elif 80 <= aydar < 90:
    print("5-")
elif 90 <= aydar <= 100:
    print("5")
else:
    print('oshibka')

aydar= 76.25 otsentka=4

In [ ]:


e1_1, e1_2, e1_3, f1, p1 = 60, 70, 90, 65, 85
sredniy = (e1_1 + e1_2 + e1_3)/3 * 0.45  + f1 * 0.35 + p1 * 0.2

print('altinay=', sredniy, "otsentka=", end='')
if 0 <= sredniy < 40:
    print(2)
elif 40 <= sredniy < 50:
    print("3-")
elif 50 <= sredniy < 60:
    print("3")
elif 60 <= sredniy < 70:
    print("4-")
elif 70 <= sredniy < 80:
    print("4")
elif 80 <= sredniy < 90:
    print("5-")
elif 90 <= sredniy <= 100:
    print("5")
else:
    print('oshibka')

altinay= 72.75 otsentka=4

In [ ]:
a = 0

if 0 <= a <= 20:
    print('horosho')
else:
    print('ploho')

horosho

In [ ]:
def bishkek(osh):
    talas = 3 * osh **2 + 4 * osh + 25

In [ ]:
x = 0
print(3 * x ** 2 + 4 * x  + 25)
x = 1
print(3 * x **2 + 4 * x + 25)
x = 2
print(3 * x ** 2 + 4 * x + 25)
x = 3
print(3 * x ** 2+ 4 * x + 25)
x = 4
print(3 * x **2 + 4 * x  + 25)

25
32
45
64
89

In [ ]:
print(bishkek(0))
print(bishkek(1))
print(bishkek(2))
print(bishkek(3))
print(bishkek(4))

None
None
None
None
None

In [ ]:
def obmenka(dollar):
    som = dollar * 87.45

In [ ]:

obmenka(1500)

In [ ]:
dollar_pokupka = 84.7
dollar_prodaja = 85.0

rubl_pokupka = 0.90
rubl_prodaja = 1.06

euro_pokupka = 91
euro_prodaja = 93

def somToDollar(amount):
    return amount / dollar_prodaja

def dollarToSom(amount):
    return amount * dollar_pokupka

def somToEuro(amount):
    return amount / euro_prodaja

def euroToSom(amount):
    return amount * euro_pokupka

def rublToSom(amount):
    return amount * rubl_pokupka

def somToRubl(amount):
    return amount / rubl_prodaja

In [ ]:
somToRubl(1000)

943.3962264150942

In [ ]:
som = rublToSom(1000)
dollar = somToDollar(som)
print(1000, som, dollar)

1000 900.0 10.588235294117647

In [ ]:
somToDollar(rublToSom(1000))

10.588235294117647

In [ ]:
som = dollarToSom(1000)
rubl = somToRubl(som)
print(rubl)

79905.66037735848

In [ ]:
somToRubl(dollarToSom(1000))

79905.66037735848

In [ ]:
skolko = 10000
somToRubl(dollarToSom(skolko))

799056.6037735848

In [ ]:

def studentGrade1(e1_1, e1_2, e1_3, f1, p1):
    sredniy = (e1_1 + e1_2 + e1_3)/3 * 0.45  + f1 * 0.35 + p1 * 0.2
    
    if 0 <= sredniy < 40:
        return 2, sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 40 <= sredniy < 50:
        return "3-", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 50 <= sredniy < 60:
        return "3", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 60 <= sredniy < 70:
        return "4-", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 70 <= sredniy < 80:
        return "4", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 80 <= sredniy < 90:
        return "5-", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 90 <= sredniy <= 100:
        return "5", sredniy, (e1_1 + e1_2 + e1_3)/3
    else:
        return 'oshibka'

In [ ]:
studentGrade(70, 90, 55, 82, 95)

('4', 79.95, 71.66666666666667, 28.7)

In [ ]:
(70 + 90 + 55) / 3

71.66666666666667

In [ ]:

def studentGrade2(exam1, exam2, exam3, final, project):
    sredniy = (exam1+exam2+exam3)/3 * 0.45  + final * 0.35 + project * 0.2
    
    otsenka = 0
    if 0 <= sredniy < 40:
        otsenka = 2
    elif 40 <= sredniy < 50:
        otsenka = "3-"
    elif 50 <= sredniy < 60:
        otsenka = "3"
    elif 60 <= sredniy < 70:
        otsenka = "4-"
    elif 70 <= sredniy < 80:
        otsenka = "4"
    elif 80 <= sredniy < 90:
        otsenka = "5-"
    elif 90 <= sredniy <= 100:
        otsenka = "5"
    else:
        return 'oshibka'

    return otsenka

In [ ]:
print(studentGrade2(70, 90, 55, 82, 95))
print(studentGrade1(70, 90, 55, 82, 95))

4
('4', 79.95, 71.66666666666667)

In [ ]:
def f(x):
    # 3 * x ** 2 + 4 * x + 44
    kvadrat = 3 * x**2
    vtoroy = 4 * x
    konstanta = 44
    return kvadrat + vtoroy + konstanta, kvadrat, vtoroy, konstanta

In [ ]:
a, b, c, d = f(x=4)
print(b, c, d)
print(a, b+c+d)

48 16 44
108 108

In [ ]:
f(x=10)

(384, 300, 40, 44)

In [ ]:
def emil(a, b, c):
    return a/b/c

In [ ]:
emil(10, 20,30)

0.016666666666666666

In [ ]:
emil(b = 20, a = 10, c = 30)

0.016666666666666666

In [ ]:
d = {"emil": 1000, "timur": 2000, "sultan": 3000, "aziz": 1800}
print(d)
d["01"] = "ait"
print(d)
del d["emil"]
print(d)

{'emil': 1000, 'timur': 2000, 'sultan': 3000, 'aziz': 1800}
{'emil': 1000, 'timur': 2000, 'sultan': 3000, 'aziz': 1800, '01': 'ait'}
{'timur': 2000, 'sultan': 3000, 'aziz': 1800, '01': 'ait'}

In [ ]:

d = {"emil": 1000, "timur": 2000, "sultan": 3000, "aziz": 1800}
print(d)
kto = input("kto")
komu = input("komu")
skolko = int(input("skolko"))

d[kto] -= skolko
d[komu] += skolko
print(d)

d["aydar"] = 1500
print(d)

{'emil': 1000, 'timur': 2000, 'sultan': 3000, 'aziz': 1800}
{'emil': 1000, 'timur': 1800, 'sultan': 3200, 'aziz': 1800}
{'emil': 1000, 'timur': 1800, 'sultan': 3200, 'aziz': 1800, 'aydar': 1500}

In [ ]:
d = {}

def transfer(kto, komu, skolko):
    d[kto] -= skolko
    d[komu] += skolko
    return d

def add(kto, balance):
    d[kto] = balance
    return d

In [ ]:
add("emil", 1000)
print(d)
add("sultan", 1500)
print(d)
add("aziz", 2000)

print(d)

transfer("emil", "sultan", 500)
print(d)

{'emil': 1000}
{'emil': 1000, 'sultan': 1500}
{'emil': 1000, 'sultan': 1500, 'aziz': 2000}
{'emil': 500, 'sultan': 2000, 'aziz': 2000}

In [ ]:
transfer(kto="sultan", komu='aziz', skolko=800)
print(d)

{'emil': 500, 'sultan': 400, 'aziz': 3600}

In [ ]:
from random import randint
for i in range(3):
    print(randint(0, 100))

19
18
2

In [ ]:
import random
for i in range(3):
    print(random.randint(0, 1000))

378
178
576

In [ ]:
a = "134567,2,3,4,5,6"
print(a)
print(a.split(','))

134567,2,3,4,5,6
['134567', '2', '3', '4', '5', '6']

In [75]:
from csv import reader
file = open('payments3.csv', encoding='utf-8')
a = reader(file)
data = next(a)
total = {}
dates = {}
for i in a:
    id = i[2]
    amount = int(i[1].replace(',',''))
    date = i[0]
    description = i[3]
    if id not in total:
        total[id] = 0
        dates[id] = []

    if len(id):
        total[id] += amount
        dates[id].append(date)

s = 0
from csv import reader, writer
with open('output.csv', 'w', newline='') as outfile:
    w = writer(outfile)
    w.writerow('id,total,debt,dlina,dati'.split(','))
    for id, amount in total.items():
        #if amount > 25000:
            w.writerow([id, amount, 5000 - amount, len(dates[id]),  dates[id]])
            s += amount
            print(amount, s)

print(s)

0 0
25500 25500
9360 34860
19380 54240
5831 60071
18600 78671
28050 106721
16560 123281
14760 138041
35760 173801
20150 193951
2200 196151
9620 205771
8880 214651
12220 226871
21276 248147
13780 261927
31700 293627
6000 299627
19700 319327
5472 324799
4164 328963
13332 342295
12000 354295
13688 367983
9840 377823
9135 386958
6120 393078
6741 399819
10638 410457
9456 419913
5680 425593
33414 459007
1346 460353
8610 468963
5980 474943
3660 478603
5100 483703
5100 488803
9000 497803
2364 500167
2160 502327
3750 506077
2760 508837
566 509403
2764 512167
12686 524853
6600 531453
-21546 509907
2068 511975
0 511975
6000 517975
12000 529975
-15000 514975
745 515720
515720

In [12]:
print(data)

Date,"20,811",id,Description,,eco taxi,,,,,,,,,,,,,,,,,,,,,

In [13]:
print(data.split(","))

['Date', '"20', '811"', 'id', 'Description', '', 'eco taxi', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '\n']

In [14]:
data.split('"')

['Date,', '20,811', ',id,Description,,eco taxi,,,,,,,,,,,,,,,,,,,,,\n']

In [36]:
print(total['3'], dates['3'])

5831 ['2.10.23', '5.11', '5.12', '5.01', '6.02', '5.03', '5.04']

In [63]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
from random import shuffle

for i in range(5):
    shuffle(a)
    print(a)

[5, 7, 2, 6, 4, 9, 3, 0, 1, 8]
[9, 3, 4, 5, 0, 7, 2, 1, 6, 8]
[6, 0, 1, 3, 5, 4, 2, 7, 9, 8]
[5, 3, 4, 6, 8, 1, 2, 9, 0, 7]
[4, 5, 0, 9, 2, 1, 7, 8, 6, 3]

In [ ]:
print(a[:100])
for i in range(len(a)):
    for j in range(i, len(a)):
        if a[i] > a[j]:
            a[i], a[j] = a[j], a[i]

print(a[:100])

[3951832, 6077253, 6322286, 1212739, 6926876, 6362149, 2671386, 5231187, 5813117, 4618498, 9763471, 2164502, 1441394, 2827915, 9506865, 2572475, 4695002, 976971, 2979484, 6280291, 4242570, 201079, 4212263, 4454839, 7121835, 9715616, 9598720, 4648439, 4921780, 4565172, 958784, 9954629, 4319974, 7440251, 2906802, 4465005, 1400636, 3654166, 9335005, 482958, 3648576, 7127660, 8753154, 7383154, 8578487, 3428737, 7648295, 323806, 6240971, 2459956, 3321769, 8504215, 1515650, 9983948, 7540370, 32725, 6335442, 768710, 8232847, 3525881, 420232, 629985, 4015732, 2086230, 9496283, 7103405, 9533235, 801076, 4657043, 3247152, 3481166, 7974045, 732238, 149308, 8260762, 4939712, 9756027, 8071418, 2958954, 6177195, 2714423, 7974050, 8284661, 9716865, 9547643, 5405230, 583106, 1834565, 1720942, 5822471, 8712463, 3790268, 5411235, 3055262, 5751807, 865529, 5653676, 3801388, 9944541, 8458995]

KeyboardInterrupt:

In [ ]:
from random import randint, shuffle
import sys
sys.setrecursionlimit(100000)

arr = list([randint(0, 1000000) for i in range(10000000)])

def manas_sort(a):
    if len(a) <= 1:
        return a
    p = a[randint(0, len(a)-1)]

    left = []
    right = []
    middle = []
    
    for i in a:
        if i > p:
            right.append(i)
        elif i < p:
            left.append(i)
        else:
            middle.append(i)
    
    left = manas_sort(left)
    right = manas_sort(right)
    return left + middle + right

print(arr[:100])
x = manas_sort(arr)
print(x[:100])

[743596, 705240, 705479, 18583, 184291, 402371, 707559, 279571, 158646, 809589, 559952, 734471, 914684, 291506, 46900, 46582, 412896, 519410, 616157, 780138, 977982, 94408, 625905, 124873, 270365, 572085, 568723, 521907, 366521, 880099, 347917, 359395, 695321, 696522, 383252, 115422, 721476, 408962, 712837, 345369, 590017, 877724, 491046, 806549, 714204, 232543, 884400, 664912, 66295, 786320, 17766, 533198, 958781, 408255, 670960, 365746, 782724, 726633, 888382, 919463, 179016, 192324, 79501, 980650, 566500, 709297, 454862, 19556, 317249, 749371, 861873, 96172, 306199, 751302, 981262, 296051, 97775, 852442, 126847, 96711, 705952, 745427, 592568, 623637, 814497, 133043, 282533, 636215, 942487, 20859, 596631, 736689, 927703, 86251, 706325, 705522, 701977, 150506, 330501, 928985]
[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]

#

## 02.03.2025

In [ ]:
while True:
    try:
        num1 = input('number 1: ')
        num2 = input('number 2: ')
        print('result value: ', int(num1) + int(num2))
    except:
        print('result text: ', num1 + num2)

result text:
result text:
result text:

In [1]:
class Student:
    def __init__(self, imya):
        self.name = imya
        
    def pokaji(self):
        print('imya studenta ', self.name)
    
    def changeName(self, newName):
        self.name = newName

In [5]:
ayjan = Student("Ayjan")

In [6]:
ayjan.pokaji()
ayjan.changeName('Aijan')
ayjan.pokaji()

imya studenta  Ayjan
imya studenta  Aijan

In [10]:
class Student:
    def __init__(self, name):
        self.otsenki = {}
        self.name = name

    def dobavitOtsenku(self, predmet, otsentka):
        self.otsenki[predmet] = otsentka
    
    def sredniyBal1(self):
        s = 0
        for k, v in self.otsenki.items():
            s += v
        return s // len(self.otsenki)

    def sredniyBal2(self):
        return sum(self.otsenki.values()) // len(self.otsenki)

    def pokajiOtsenki(self):
        print('Imya studenta = ', self.name)
        for k, v in self.otsenki.items():
            print(k, v)
        print("sredniy bal: ", self.sredniyBal1())
        print("*"*10)



aijan = Student('Aijan')
aijan.dobavitOtsenku("math", 90)
aijan.dobavitOtsenku("history", 95)
aijan.dobavitOtsenku("himya", 50)

aydar = Student('Aydar')
aydar.dobavitOtsenku("math", 80)
aydar.dobavitOtsenku("history", 55)
aydar.dobavitOtsenku("himya", 80)
aydar.dobavitOtsenku('geografia', 60)

aliya = Student('Aliya')
aliya.dobavitOtsenku("math", 80)
aliya.dobavitOtsenku("history", 70)
aliya.dobavitOtsenku("himya", 40)
aliya.dobavitOtsenku('kirgiz tili', 100)

In [38]:
aliya.pokajiOtsenki()
aydar.pokajiOtsenki()
aliya.pokajiOtsenki()

Imya studenta =  Aliya
math 80
history 70
himya 40
kirgiz tili 100
sredniy bal:  72
**********
Imya studenta =  Chonaydar
math 80
history 55
himya 80
geografia 60
sredniy bal:  68
**********
Imya studenta =  Aliya
math 80
history 70
himya 40
kirgiz tili 100
sredniy bal:  72
**********

In [13]:
karizdar = {}
karizdar['emil'] = 100
karizdar['aijan'] = 300
karizdar['sultan'] = -700

In [16]:
karizdar['aijan'] -= 100
print(karizdar)

{'emil': 100, 'aijan': 200, 'sultan': -700}

In [18]:
for kluch, znachenie in karizdar.items():
    print(kluch, znachenie)

emil 100
aijan 200
sultan -700

In [17]:
karizdar.items()

dict_items([('emil', 100), ('aijan', 200), ('sultan', -700)])

In [19]:
for i in karizdar.items():
    print(i, i[0], i[1])

('emil', 100) emil 100
('aijan', 200) aijan 200
('sultan', -700) sultan -700

In [21]:
for i, j in karizdar.items():
    print(i)

emil
aijan
sultan

In [22]:
a, b, c = 100, 200, 300

In [27]:
s = Student('emil')

In [28]:
class Test:
    def __init__(self):
        pass

In [30]:
t = Test('emil')

TypeError: Test.__init__() takes 1 positional argument but 2 were given

In [31]:
d = {}
d['aijan'] = aijan
d['aydar'] = aydar
d['aliya'] = aliya
print(d)

{'aijan': <__main__.Student object at 0x000001C8B7D4AA90>, 'aydar': <__main__.Student object at 0x000001C8B80274D0>, 'aliya': <__main__.Student object at 0x000001C8B7DECA50>}

In [33]:
for imya, student in d.items():
    student.pokajiOtsenki()

Imya studenta =  Aijan
math 90
history 95
himya 50
sredniy bal:  78
**********
Imya studenta =  Aydar
math 80
history 55
himya 80
geografia 60
sredniy bal:  68
**********
Imya studenta =  Aliya
math 80
history 70
himya 40
kirgiz tili 100
sredniy bal:  72
**********

In [37]:
d["aydar"].name = "Chonaydar"
print(d['aydar'].sredniyBal2())
d['aydar'].pokajiOtsenki()

68
Imya studenta =  Chonaydar
math 80
history 55
himya 80
geografia 60
sredniy bal:  68
**********

In [43]:
s = 0
for imya, student in d.items():
    print(imya, student.sredniyBal1(), student.otsenki)
    x = student.sredniyBal1()
    s += x
print('sredniy bal: ', s // len(d))

aijan 78 {'math': 90, 'history': 95, 'himya': 50}
aydar 68 {'math': 80, 'history': 55, 'himya': 80, 'geografia': 60}
aliya 72 {'math': 80, 'history': 70, 'himya': 40, 'kirgiz tili': 100}
sredniy bal:  72

In [59]:
class Client:
    def __init__(self, tel):
        self.name = None
        self.tel = tel
        self.adress = None
        self.istoriya = [f'sozdali akount dlya {tel}']
        self.balans = 0

    def changeName(self, name):
        self.name = name
        self.istoriya.append(f'pomenyal imya na {name}')

    def changeAdress(self, adress):
        self.adress = adress
        self.istoriya.append(f'pomenyal adress na {adress}')

    def changeBalans(self, balans):
        self.balans = balans
        self.istoriya.append(f'izmenil balans na {balans}')


class MBank:
    def __init__(self):
        self.klienti = {}
    
    def addKlient(self, tel):
        self.klienti[tel] = Client(tel)
    
    def perevod(self, otkogo, komu, summa):
        a = self.klienti[otkogo].balans
        b = self.klienti[komu].balans

        self.klienti[otkogo].changeBalans(a - summa)
        self.klienti[komu].changeBalans(b + summa)

    def pokajiIstoriyu(self):
        for k, v in self.klienti.items():
            print(k)
            for i in v.istoriya:
                print(i)
            print('*'*20)

In [60]:
b = MBank()
b.addKlient('0777')
b.addKlient('0555')
b.addKlient('0999')
b.addKlient('0666')

b.klienti['0777'].changeName('Aijan')
b.klienti['0777'].changeAdress('batken')
b.klienti['0777'].changeBalans(1000)
b.klienti['0999'].changeName('Aliya')
b.klienti['0999'].changeBalans(5000)

b.klienti['0666'].changeName('Aidar')
b.klienti['0666'].changeBalans(2000)

b.klienti['0555'].changeName('Timur')
b.klienti['0555'].changeBalans(8000)


b.perevod('0777', '0555', 100)
b.perevod('0555', '0666', 200)
b.perevod('0777', '0999', 500)

In [61]:
b.pokajiIstoriyu()

0777
sozdali akount dlya 0777
pomenyal imya na Aijan
pomenyal adress na batken
izmenil balans na 1000
izmenil balans na 900
izmenil balans na 400
********************
0555
sozdali akount dlya 0555
pomenyal imya na Timur
izmenil balans na 8000
izmenil balans na 8100
izmenil balans na 7900
********************
0999
sozdali akount dlya 0999
pomenyal imya na Aliya
izmenil balans na 5000
izmenil balans na 5500
********************
0666
sozdali akount dlya 0666
pomenyal imya na Aidar
izmenil balans na 2000
izmenil balans na 2200
********************

In [46]:
aijan = 1000
print('mendegi summa = {aijan}')
print(f'mendegi summa = {aijan}')

mendegi summa = {aijan}
mendegi summa = 1000