In [5]:
a = 1
print(a, type(a))
b = a

a = "emil"
print(a, type(a))
a = True
print(a, type(a))
a = 1.45
print(a, type(a))

1 <class 'int'>
emil <class 'str'>
True <class 'bool'>
1.45 <class 'float'>

In [10]:
a = [1, 2, 4]
print(a, type(a))
b = a
print(b)
a[0] = 8
print(a)
print(b)

[1, 2, 4] <class 'list'>
[1, 2, 4]
[8, 2, 4]
[8, 2, 4]
emil emil
10 emil

In [11]:

a = "emil"
b = a
print(a, b)
a = 10
print(a, b)

emil emil
10 emil

In [13]:
a = [1, 4, 9]
b = a.copy()
print(a, b)
a[1] = "emil"
print(a, b)

[1, 4, 9] [1, 4, 9]
[1, 'emil', 9] [1, 4, 9]

In [ ]:
a = [1000, 500, 300]

In [31]:
a = input("vedite sifru:")
print(a, type(a))
b = int(a)
print(b, type(b))
print(a * 5)
print(b * 5)

505 <class 'str'>
505 <class 'int'>
505505505505505
2525

In [20]:
a = 1
print(a, type(a))
b = float(a)
print(b, type(b))

1 <class 'int'>
1.0 <class 'float'>

In [26]:
a = "13a"
b = int(a)
print(b * 10)

ValueError: invalid literal for int() with base 10: '13a'

In [32]:
a = 10
b = 20
if a > b:
    c = a * b 
else:
    c = a + 1

print(c)

11

In [3]:
altinay = 500
aydar = 1000
emil = 300
timur = 1500
ulan = 600
print(f'altinay={altinay}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')

otpravitel = input('Kto otpravitel: ')
poluchatel = input("Kto poluchatel: ")
summa = int(input("summa: "))

if otpravitel == 'altinay':
    if altinay < summa:
        print(f'u altinay ({altinay}) netu dostatochno summi ', summa)
        transaksia = False
    else:
        altinay = altinay - summa
        transaksia = True
elif otpravitel == "aydar":
    if aydar < summa:
        transaksia = False
        print(f'u aydar ({aydar}) netu dostatochno summi ', summa)
    else:
        aydar -= summa
        transaksia = True
elif otpravitel == "emil":
    if emil < summa:
        transaksia = False
        print(f'u emil ({emil}) netu dostatochno summi ', summa)
    else:
        emil -= summa
        transaksia = True
elif otpravitel == "timur":
    if timur < summa:
        transaksia = False
        print(f'u timur ({timur}) netu dostatochno summi ', summa)
    else:
        timur -= summa
        transaksia = True
elif otpravitel == "ulan":
    if ulan < summa:
        transaksia = False
        print(f'u ulan ({ulan}) netu dostatochno summi ', summa)
    else:
        ulan -= summa
        transaksia = True
else:
    transaksia = False
    print(otpravitel, " netu takogo klienta dlya otpravitelya")

if transaksia == True:
    if poluchatel == 'altinay':
        altinay = altinay + summa
    elif poluchatel == "aydar":
        aydar += summa
    elif poluchatel == "emil":
        emil += summa
    elif poluchatel == "timur":
        timur += summa
    elif poluchatel == "ulan":
        ulan += summa
    else:
        print(poluchatel, " netu takogo klienta dlya poluchatelya")

print(f'{otpravitel}->{poluchatel}: {summa}')
print(f'altinay={altinay}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')
print('transaction status = ', transaksia)

altinay=500, aydar=1000, emil=300, timur=1500, ulan=600
u emil (300) netu dostatochno summi  500
emil->timur: 500
altinay=500, aydar=1000, emil=300, timur=1500, ulan=600
transaction status =  False

In [36]:
1500 - int("500")

1000