In [5]:
a = 1
print(a, type(a))
b = a

a = "emil"
print(a, type(a))
a = True
print(a, type(a))
a = 1.45
print(a, type(a))

1 <class 'int'>
emil <class 'str'>
True <class 'bool'>
1.45 <class 'float'>

In [10]:
a = [1, 2, 4]
print(a, type(a))
b = a
print(b)
a[0] = 8
print(a)
print(b)

[1, 2, 4] <class 'list'>
[1, 2, 4]
[8, 2, 4]
[8, 2, 4]
emil emil
10 emil

In [11]:

a = "emil"
b = a
print(a, b)
a = 10
print(a, b)

emil emil
10 emil

In [13]:
a = [1, 4, 9]
b = a.copy()
print(a, b)
a[1] = "emil"
print(a, b)

[1, 4, 9] [1, 4, 9]
[1, 'emil', 9] [1, 4, 9]

In [ ]:
a = [1000, 500, 300]

In [31]:
a = input("vedite sifru:")
print(a, type(a))
b = int(a)
print(b, type(b))
print(a * 5)
print(b * 5)

505 <class 'str'>
505 <class 'int'>
505505505505505
2525

In [20]:
a = 1
print(a, type(a))
b = float(a)
print(b, type(b))

1 <class 'int'>
1.0 <class 'float'>

In [26]:
a = "13a"
b = int(a)
print(b * 10)

ValueError: invalid literal for int() with base 10: '13a'

In [32]:
a = 10
b = 20
if a > b:
    c = a * b 
else:
    c = a + 1

print(c)

11

In [ ]:
sredniy = 500
aydar = 1000
emil = 300
timur = 1500
ulan = 600
print(f'altinay={sredniy}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')

otpravitel = input('Kto otpravitel: ')
poluchatel = input("Kto poluchatel: ")
summa = int(input("summa: "))

if otpravitel == 'altinay':
    if sredniy < summa:
        print(f'u altinay ({sredniy}) netu dostatochno summi ', summa)
        transaksia = False
    else:
        sredniy = sredniy - summa
        transaksia = True
elif otpravitel == "aydar":
    if aydar < summa:
        transaksia = False
        print(f'u aydar ({aydar}) netu dostatochno summi ', summa)
    else:
        aydar -= summa
        transaksia = True
elif otpravitel == "emil":
    if emil < summa:
        transaksia = False
        print(f'u emil ({emil}) netu dostatochno summi ', summa)
    else:
        emil -= summa
        transaksia = True
elif otpravitel == "timur":
    if timur < summa:
        transaksia = False
        print(f'u timur ({timur}) netu dostatochno summi ', summa)
    else:
        timur -= summa
        transaksia = True
elif otpravitel == "ulan":
    if ulan < summa:
        transaksia = False
        print(f'u ulan ({ulan}) netu dostatochno summi ', summa)
    else:
        ulan -= summa
        transaksia = True
else:
    transaksia = False
    print(otpravitel, " netu takogo klienta dlya otpravitelya")

if transaksia == True:
    if poluchatel == 'altinay':
        sredniy = sredniy + summa
    elif poluchatel == "aydar":
        aydar += summa
    elif poluchatel == "emil":
        emil += summa
    elif poluchatel == "timur":
        timur += summa
    elif poluchatel == "ulan":
        ulan += summa
    else:
        print(poluchatel, " netu takogo klienta dlya poluchatelya")

print(f'{otpravitel}->{poluchatel}: {summa}')
print(f'altinay={sredniy}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')
print('transaction status = ', transaksia)

altinay=500, aydar=1000, emil=300, timur=1500, ulan=600
u emil (300) netu dostatochno summi  500
emil->timur: 500
altinay=500, aydar=1000, emil=300, timur=1500, ulan=600
transaction status =  False

In [36]:
1500 - int("500")

1000

## 15.02.2025

In [ ]:
sredniy = 500
aydar = 1000
emil = 300
timur = 1500
ulan = 600
print(f'altinay={sredniy*10-200}, aydar={aydar}, emil={emil}, timur={timur}, ulan={ulan}')

altinay=4800, aydar=1000, emil=300, timur=1500, ulan=600

In [5]:
e1_1 = 60
e1_2 = 70
e1_3 = 90
f1 = 65
p1 = 85

print(e1_1, e1_2, e1_3, f1, p1)

60 70 90 65 85

In [7]:
e1_1, e1_2, e1_3, f1, p1 = 60, 70, 90, 65, 85
print(e1_1, e1_2, e1_3, f1, p1)

60 70 90 65 85

In [8]:
a, b = 10

TypeError: cannot unpack non-iterable int object

In [9]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [36]:
e1_1, e1_2, e1_3, f1, p1 = 90, 90, 95, 100, 0
aydar = (e1_1 + e1_2 + e1_3)/3 * 0.45  + f1 * 0.35 + p1 * 0.2

print('aydar=', aydar, "otsentka=", end='')
if 0 <= aydar < 40:
    print(2)
elif 40 <= aydar < 50:
    print("3-")
elif 50 <= aydar < 60:
    print("3")
elif 60 <= aydar < 70:
    print("4-")
elif 70 <= aydar < 80:
    print("4")
elif 80 <= aydar < 90:
    print("5-")
elif 90 <= aydar <= 100:
    print("5")
else:
    print('oshibka')

aydar= 76.25 otsentka=4

In [ ]:


e1_1, e1_2, e1_3, f1, p1 = 60, 70, 90, 65, 85
sredniy = (e1_1 + e1_2 + e1_3)/3 * 0.45  + f1 * 0.35 + p1 * 0.2

print('altinay=', sredniy, "otsentka=", end='')
if 0 <= sredniy < 40:
    print(2)
elif 40 <= sredniy < 50:
    print("3-")
elif 50 <= sredniy < 60:
    print("3")
elif 60 <= sredniy < 70:
    print("4-")
elif 70 <= sredniy < 80:
    print("4")
elif 80 <= sredniy < 90:
    print("5-")
elif 90 <= sredniy <= 100:
    print("5")
else:
    print('oshibka')

altinay= 72.75 otsentka=4

In [27]:
a = 0

if 0 <= a <= 20:
    print('horosho')
else:
    print('ploho')

horosho

In [52]:
def bishkek(osh):
    talas = 3 * osh **2 + 4 * osh + 25

In [51]:
x = 0
print(3 * x ** 2 + 4 * x  + 25)
x = 1
print(3 * x **2 + 4 * x + 25)
x = 2
print(3 * x ** 2 + 4 * x + 25)
x = 3
print(3 * x ** 2+ 4 * x + 25)
x = 4
print(3 * x **2 + 4 * x  + 25)

25
32
45
64
89

In [53]:
print(bishkek(0))
print(bishkek(1))
print(bishkek(2))
print(bishkek(3))
print(bishkek(4))

None
None
None
None
None

In [58]:
def obmenka(dollar):
    som = dollar * 87.45

In [ ]:

obmenka(1500)

In [64]:
dollar_pokupka = 84.7
dollar_prodaja = 85.0

rubl_pokupka = 0.90
rubl_prodaja = 1.06

euro_pokupka = 91
euro_prodaja = 93

def somToDollar(amount):
    return amount / dollar_prodaja

def dollarToSom(amount):
    return amount * dollar_pokupka

def somToEuro(amount):
    return amount / euro_prodaja

def euroToSom(amount):
    return amount * euro_pokupka

def rublToSom(amount):
    return amount * rubl_pokupka

def somToRubl(amount):
    return amount / rubl_prodaja

In [68]:
somToRubl(1000)

943.3962264150942

In [69]:
som = rublToSom(1000)
dollar = somToDollar(som)
print(1000, som, dollar)

1000 900.0 10.588235294117647

In [70]:
somToDollar(rublToSom(1000))

10.588235294117647

In [72]:
som = dollarToSom(1000)
rubl = somToRubl(som)
print(rubl)

79905.66037735848

In [73]:
somToRubl(dollarToSom(1000))

79905.66037735848

In [74]:
skolko = 10000
somToRubl(dollarToSom(skolko))

799056.6037735848

In [100]:

def studentGrade1(e1_1, e1_2, e1_3, f1, p1):
    sredniy = (e1_1 + e1_2 + e1_3)/3 * 0.45  + f1 * 0.35 + p1 * 0.2
    
    if 0 <= sredniy < 40:
        return 2, sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 40 <= sredniy < 50:
        return "3-", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 50 <= sredniy < 60:
        return "3", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 60 <= sredniy < 70:
        return "4-", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 70 <= sredniy < 80:
        return "4", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 80 <= sredniy < 90:
        return "5-", sredniy, (e1_1 + e1_2 + e1_3)/3
    elif 90 <= sredniy <= 100:
        return "5", sredniy, (e1_1 + e1_2 + e1_3)/3
    else:
        return 'oshibka'

In [101]:
studentGrade(70, 90, 55, 82, 95)

('4', 79.95, 71.66666666666667, 28.7)

In [102]:
(70 + 90 + 55) / 3

71.66666666666667

In [106]:

def studentGrade2(exam1, exam2, exam3, final, project):
    sredniy = (exam1+exam2+exam3)/3 * 0.45  + final * 0.35 + project * 0.2
    
    otsenka = 0
    if 0 <= sredniy < 40:
        otsenka = 2
    elif 40 <= sredniy < 50:
        otsenka = "3-"
    elif 50 <= sredniy < 60:
        otsenka = "3"
    elif 60 <= sredniy < 70:
        otsenka = "4-"
    elif 70 <= sredniy < 80:
        otsenka = "4"
    elif 80 <= sredniy < 90:
        otsenka = "5-"
    elif 90 <= sredniy <= 100:
        otsenka = "5"
    else:
        return 'oshibka'

    return otsenka

In [ ]:
print(studentGrade2(70, 90, 55, 82, 95))
print(studentGrade1(70, 90, 55, 82, 95))

4
('4', 79.95, 71.66666666666667)

In [83]:
def f(x):
    # 3 * x ** 2 + 4 * x + 44
    kvadrat = 3 * x**2
    vtoroy = 4 * x
    konstanta = 44
    return kvadrat + vtoroy + konstanta, kvadrat, vtoroy, konstanta

In [109]:
a, b, c, d = f(x=4)
print(b, c, d)
print(a, b+c+d)

48 16 44
108 108

In [108]:
f(x=10)

(384, 300, 40, 44)

In [113]:
def emil(a, b, c):
    return a/b/c

In [114]:
emil(10, 20,30)

0.016666666666666666

In [116]:
emil(b = 20, a = 10, c = 30)

0.016666666666666666

In [125]:
d = {"emil": 1000, "timur": 2000, "sultan": 3000, "aziz": 1800}
print(d)
d["01"] = "ait"
print(d)
del d["emil"]
print(d)

{'emil': 1000, 'timur': 2000, 'sultan': 3000, 'aziz': 1800}
{'emil': 1000, 'timur': 2000, 'sultan': 3000, 'aziz': 1800, '01': 'ait'}
{'timur': 2000, 'sultan': 3000, 'aziz': 1800, '01': 'ait'}

In [128]:

d = {"emil": 1000, "timur": 2000, "sultan": 3000, "aziz": 1800}
print(d)
kto = input("kto")
komu = input("komu")
skolko = int(input("skolko"))

d[kto] -= skolko
d[komu] += skolko
print(d)

d["aydar"] = 1500
print(d)

{'emil': 1000, 'timur': 2000, 'sultan': 3000, 'aziz': 1800}
{'emil': 1000, 'timur': 1800, 'sultan': 3200, 'aziz': 1800}
{'emil': 1000, 'timur': 1800, 'sultan': 3200, 'aziz': 1800, 'aydar': 1500}

In [132]:
d = {}

def transfer(kto, komu, skolko):
    d[kto] -= skolko
    d[komu] += skolko
    return d

def add(kto, balance):
    d[kto] = balance
    return d

In [133]:
add("emil", 1000)
print(d)
add("sultan", 1500)
print(d)
add("aziz", 2000)

print(d)

transfer("emil", "sultan", 500)
print(d)

{'emil': 1000}
{'emil': 1000, 'sultan': 1500}
{'emil': 1000, 'sultan': 1500, 'aziz': 2000}
{'emil': 500, 'sultan': 2000, 'aziz': 2000}

In [135]:
transfer(kto="sultan", komu='aziz', skolko=800)
print(d)

{'emil': 500, 'sultan': 400, 'aziz': 3600}